<!DOCTYPE html>
<html>
    {% extends 'base.html' %}

    {% block head %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content= "width=device-width, initial-scale=1">
        <title>Texas Online Voting</title>
    </head>
    
    {% endblock %}

    {% block body %}
    <body>
        <h1>Texas Online Voting</h1>
        <h3>Welcome to the Texas Online Voter Registration Website</h3>
        <hr>
        <button type="button" onclick="window.location.href='{{ url_for( 'register') }}';">Register to Vote Now</button>

        <br>
        <br>
        <button type="button" onclick="window.location.href='{{ url_for( 'register') }}';">Pre-Register to Vote</button>
        <br>
        <br>
        <button>Check Your Registration Status</button>
        <hr>
        
        <h3>Registration Deadline</h3>
        <p>
            You must register 30 days before an election for you to be eligible to vote in that election.
            <br>
            For more information on voter registration and voting locations, contact your local county elections official.
        </p>
        
        <h3>What Will You Need</h3>
        <p>
            To register online you will need:
            <ul>
				<li>Your Texas driver license or Texas personal identification number</li>
				<li> OR </li>
                <li>Your Texas driver license or Texas personal identification number</li>
                <li> OR </li>
                <li>The last four digits of your social security number</li>
                <li>Your date of birth</li> 
                <li>Your date of birth</li>
            </ul>
            Your information will be provided to the Texas Department of Motor Vehicles (DMV) to retrieve a copy of your DMV signature
            <br>
            If you do not have a Texas driver license or Texas personal identification number, you can still use this form to apply to register to vote. However, you will need to take additional steps to complete your voter registration.
        </p>
        
        <h3>Additional Information</h3>
        <p>
            Check if you are registered to vote and if so, in what county.
            <br>
            If you are 17 years old and 10 months old, you can use this online registration application to register to vote.
            <br>
            For more information on registering to vote you may want to visit the <a href = "https://www.votetexas.gov/faq/index.html"> Secretary of State's Frequently Asked Questions. </a>
        </p>
    </body>
    {% endblock %}
</html>
